// Globals

body {
	background: #111;
	color: #333;
	font: 13px/23px 'Oxygen', Tahoma, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	text-shadow: 0 1px 0 #fff;
}

// Structure

section {
	max-width: 400px;
	margin: 100px auto 0 auto;
	background: #f4f4f4;
	border: 1px solid lighten(#f4f4f4, 3%);
	box-shadow: 0 1px 2px #111, inset 0 0 1px 1px darken(#f4f4f4, 3%);
	padding: 20px;
	border-radius: 3px;
}

nav {
	text-align: center;
	a {
		margin-left: 10px;
		margin-right: 10px;
		font-weight: 700;
	}
}

article, footer {
	padding-top: .6em;
}

header, article {
	border-bottom: 1px solid lighten(#f4f4f4, 3%);
}

article, footer {
	border-top: 1px solid darken(#f4f4f4, 3%);
}

.comments {
	li {
		list-style: none;
	}
}

// Graphics
article img {
	margin: -20px 0;
}

// Typography

h1, h2, h3, h4, h5, h6, p, ul, li {
	font-weight: 400;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2em;
	line-height: 1.3em;
	margin-bottom: .4em;
	text-align: center;
}

h2 {
	font-size: 1.8em;
	line-height: 1.3em;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1em;
}

h4 {
	font-style: italic;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1em;
}

h5 {
	font-size: .8em;
	line-height: 1.8em;
	margin-bottom: 1em;
}

h6 {
	font-size: .7em;
	line-height: 1.8em;
	margin-bottom: 1em;
}

p {
	font-size: 1em;
	line-height: 1.8em;
	margin-bottom: 1em;
}

a {
	color: #808000;
	transition: .2s;
	text-decoration: none;
	&:hover, &.active {
		color: lighten(#808000, 7%);
	}
}